# Default owners for everything in the repository
* @netresearch/typo3

# CI/CD workflows
/.github/ @netresearch/typo3

# Core extension code
/Classes/ @netresearch/typo3
/Configuration/ @netresearch/typo3
/Tests/ @netresearch/typo3
