name: CI
on:
  push:
  pull_request:
permissions: {}
jobs:
  ci:
    uses: netresearch/typo3-ci-workflows/.github/workflows/ci.yml@main
    permissions:
      contents: read
    with:
      php-versions: '["8.2", "8.3", "8.4", "8.5"]'
      typo3-versions: '["^12.4", "^13.4"]'
      typo3-packages: '["typo3/cms-backend", "typo3/cms-core", "typo3/cms-extbase", "typo3/cms-extensionmanager", "typo3/cms-frontend"]'
      run-functional-tests: true
      functional-test-db: mysql
      db-image: 'mysql:9.6'
      cgl-command: 'composer lint'
      phpstan-command: 'composer analyze'
      rector-command: 'composer rector'
      unit-test-command: 'composer test:unit -- --no-coverage'
      functional-test-command: 'composer test:functional -- --no-coverage'
